<h1 class='title has-text-centered'><strong>Mensagem Secreta</strong></h1>
<h3 class='subtitle has-text-centered'>Porque os segredos, devem ser só seus!</h3>

<div class="field" *ngIf="showRegistro">
    <h3 class='has-text-centered'>Você ainda não está logado :( <br><strong>Efetue o login abaixo:</strong></h3><br>

    <form class="form has-text-centered" [formGroup]="loginForm">

        <label class="label has-text-centered">Login</label>
        <input [ngClass]="loginLoginIsValid() ? 'input has-text-centered is-success' : 'input has-text-centered is-danger'"
            placeholder="exemplo@email.com" type="email" formControlName="login">

        <label class="label has-text-centered">Senha</label>
        <input [ngClass]="senhaLoginIsValid() ? 'input has-text-centered is-success' : 'input has-text-centered is-danger'"
            placeholder="Insira sua senha" type="password" formControlName="senha">

    </form><br>

    <div class="field is-grouped is-grouped-centered">
        <p class="control">
            <a class="button is-primary" (click)="login()">
                Login
            </a>
        </p>
        <p class="control">
            <a class="button is-light" (click)="openRegistro()">
                Registre-se
            </a>
        </p>
    </div>
</div>

<div class="field" *ngIf="!showRegistro">
    <form class="form has-text-centered" [formGroup]="registroForm">
        <h3 class='has-text-centered'><strong>Registre-se</strong></h3><br>

        <label class="label has-text-centered">Nome</label>
        <input [ngClass]="nomeRegisterIsValid() ? 'input has-text-centered is-success' : 'input has-text-centered is-danger'"
            placeholder="José da Silva" type="text" formControlName="name">

        <label class="label has-text-centered">Login</label>
        <input [ngClass]="loginRegisterIsValid() ? 'input has-text-centered is-success' : 'input has-text-centered is-danger'"
            placeholder="exemplo@email.com" type="email" formControlName="login">

        <label class="label has-text-centered">Senha</label>
        <input [ngClass]="senhaRegisterIsValid() ? 'input has-text-centered is-success' : 'input has-text-centered is-danger'"
            placeholder="Insira sua senha" type="password" formControlName="senha">
    </form><br>

    <div class="field is-grouped is-grouped-centered">
        <p class="control">
            <a class="button is-primary" (click)="registro()">
                Confirmar
            </a>
        </p>
        <p class="control">
            <a class="button is-light" (click)="closeRegistro()">
                Cancelar
            </a>
        </p>
    </div>
</div>