<h1 class="title has-text-centered">Mensagem Secreta</h1>
<h3 class="subtitle has-text-centered">Porque os segredos, devem ser só seus!</h3>

<h2 class="subtitle has-text-centered">Seja bem vindo!</h2>

<div>
    <form class="form has-text-centered" [formGroup]="formMensagem">
        <button class="button is-danger is-small" (click)="deslogar()">Desconectar</button>

        <h3 class="subtitle has-text-centered">Digite uma mensagem para cadastrar</h3>
        <textarea class="textarea is-info is-small" placeholder="Digite o texto desejado" rows="6" cols="50"
            formControlName="mensagem"></textarea>
        <br><button class="button is-primary" (click)="addMensagem()">Cadastrar</button>
    </form>
</div>

<div>
    <h3>Mensagens previamente cadastradas</h3>
    <ul>
        <li *ngFor="let mensagem of mensagens">
            <article class="message is-info is-small">
                <div class="message-header">
                    <p>Data de criação: {{mensagem.date}}</p>
                </div>
                <div class="message-body">
                    {{mensagem.text}}
                </div>
            </article>
            <br>
        </li>
    </ul>
</div>